version: '3.8'

services:
  test_db:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_DB: test_db
    ports:
      - "5433:5432"
    volumes:
      - PGDATA_TEST:/var/lib/postgresql/data

volumes:
  PGDATA_TEST: